<section>
  <h5>
    {{title}} 
  </h5>
  <p>UWAGA - dane w książce są generowane losowo na podstawie informacji statystycznych dot. imion i nazwisk w Polsce publikowanych przez
  Ministerstwo Cyfryzacji <a href="https://www.gov.pl/cyfryzacja/statystyki-imion">tutaj</a> oraz Głos Wielkopolski <a href="http://www.gloswielkopolski.pl/artykul/668769,250-najpopularniejszych-nazwisk-w-polsce-jestes-w-tej-grupie-sprawdz-lista,id,t.html">tutaj</a>
  i w żaden sposób nie są powiązane z realnymi osobami - nie są danymi osobowymi.
  </p>
</section>

<router-outlet></router-outlet>

