<section class="container-fluid">
    <input  [(ngModel)]="filter" (dblclick)="filter='';filterData()" (ngModelChange)="filterData()" type="text" class="form-control" id="inputFilter" placeholder="szukaj... (dwuklik usuwa wprowadzony filtr)" tabindex="1" />
    <table class="table table-hover">
      <thead>
        <tr>
          <th (click)="sortBy('name')">nazwisko</th>
          <th (click)="sortBy('position')">stanowisko</th>
          <th (click)="sortBy('department')">oddział</th>
          <th (click)="sortBy('internal')">tel. wewn.</th>
          <th (click)="sortBy('phone')">tel.</th>
          <th (click)="sortBy('cellular')">cell.</th>
          <th (click)="sortBy('email')">email</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let person of filteredPersons">
            <td>{{person.name}} {{person.surname}}</td>
            <td>{{person.position}}</td>
            <td>{{person.department}}</td>
            <td>{{person.internal}}</td>
            <td>{{person.phone}}</td>
            <td>{{person.cellular}}</td>
            <td><a href='mailto:{{person.email}}'>{{person.email}}</a></td>
        </tr>
      </tbody>
    </table>

    
    <a *ngFor="let person of filteredPersons" routerLink='/phonebook/{{person.id}}'>{{person.id}}</a>
</section>