<section *ngIf="product" class="container-fluid">
    <div class="row">
        <div class="col-sm-5 col-md-5 col-lg-4">
            <img [src]="product.previewFile" style="width: 100%">            
        </div>
        
        <div class="col-sm-7 col-md-7 col-lg-8">
            <div class="row">
                <div class="col-12">
                    <h4>{{shoppingcartItem.name}}</h4>
                    <p>{{product.description}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputSizeSelect">rozmiar: </label><label class="required"> ( wymagane )</label>
                        <select [(ngModel)]="shoppingcartItem.size" class="form-control" id="inputSizeSelect" tabindex="2" required>
                            <option *ngFor="let rozmiar of product.sizes" value="{{rozmiar}}">{{rozmiar}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputColorSelect">kolor: </label><label class="required"> ( wymagane )</label>
                        <select [(ngModel)]="shoppingcartItem.color" class="form-control" id="inputColorSelect" tabindex="3" required>
                            <option *ngFor="let color of product.colors" value={{color}}>{{color}}</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputCountSelect">ilość: </label>
                            <select [(ngModel)]="shoppingcartItem.itemCount" class="form-control" id="inputCountSelect" tabindex="4" required>
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                </div>

                <div class="col-sm-6">
                    <div class="item-price">
                        <label>cena: </label><label class="required"> ( brutto )</label>
                        <p class="preview-price">{{(shoppingcartItem.itemPrice).toFixed(2)}} PLN</p>
                    </div>
                </div>
                <div class="col-12 item-value">
                    wartość: (brutto) <span class="preview-value">{{(shoppingcartItem.itemCount * shoppingcartItem.itemPrice).toFixed(2)}} PLN</span>
                </div>
                <div class="col-12 button-group">
                    <button class="btn btn-danger" (click)="goBack()" tabindex="6">anuluj</button>
                    <button class="btn btn-primary" (click)="addToShoppingcart()" tabindex="5">dodaj do koszyka</button>
                </div>
            </div>
        </div>
    </div>
</section>
