<section class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <img [src]="product.previewFile" style="width: 100%">            
        </div>
        <div class="col-sm-8">
            <h5>{{product.name}}</h5>
            <p>{{product.description}}</p>
            <p>wybierz rozmiar --- wybierz kolor ---</p>
            <p>teraz wybierz ilość (albo z listy albo za pomocą przycisków) --- cena</p>
            <p>poniżej wartość zamówienia</p>
            <p>a jeszcze poniżej przycisk "dodaj do koszyka" oraz przycisk "nie dodawaj / powrót"</p>
        </div>
    </div>
</section>
