<section *ngIf="shoppingcartService.items.length==0">
    <div class="row">
        <div class="col-12">
            <h5>Twój koszyk jest pusty...</h5>
            <button class="btn btn-danger btn-sm" (click)="goBack()" tabindex="6">powrót</button>
        </div>
        
    </div>
</section>

<section *ngIf="shoppingcartService.items.length>0">
    <div class="row">
        <div class="col-12"><h5>Zawartość twojego koszyka:</h5></div>
    </div>
        
    <div class="row">
        <div class="col-12">
            <table class="shoppingcart-table table table-sm table-striped">
                        
                <thead class="thead-inverse">
                    <tr>
                        <th class="product-name">produkt</th>
                        <th class="product-size">rozmiar</th>
                        <th class="product-color">kolor</th>
                        <th class="product-count">ilość</th>
                        <th class="product-price">cena</th>
                        <th class="product-value">wartość</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                                   
                <tbody>
                    <tr *ngFor="let item of shoppingcartService.items; let i = index">
                        <td class="product-name">{{item.name}}</td>
                        <td class="product-size">{{item.size}}</td>
                        <td class="product-color">{{item.color}}</td>
                        <td class="product-count">{{item.itemCount}}</td>
                        <td class="product-price">{{item.itemPrice.toFixed(2)}}</td>
                        <td class="product-value">{{item.itemValue.toFixed(2)}}</td>
                        <td class="product-operation">
                            <a routerLink='/product/{{item.productId}}/{{i}}'>zmień</a>
                        </td>
                        <td class="product-operation">
                            <a href="#" (click)="$event.preventDefault();shoppingcartService.deleteItem(i)">usuń</a>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="5" class="total-label">RAZEM:</td>
                        <td class="total-value">{{shoppingcartService.totalValue().toFixed(2)}}</td>
                    </tr>
                </tbody>
            </table>    
        </div>
    </div>

    <div class="row">
            <div class="col-12 button-group">
                <button class="btn btn-danger btn-sm" (click)="goBack()" tabindex="6">powrót</button>
                <button class="btn btn-primary btn-sm" (click)="orderProducts()" tabindex="5">przejdź do zamówienia</button>
            </div>
    </div>
</section>