<section class="container-fluid">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>nazwa</th>
        <th>państwo</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let city of cities" (click)="onClick(city)">
        <td>{{city.id}}</td>
        <td>{{city.name}}</td>
        <!-- <td>{{city.country_id}}</td> -->
        <td>{{countries.find(getCountry(city.country_id)).name}}</td>
      </tr>
    </tbody>
  </table>
  <a routerLink="../city-add" class="button-add">[ dodaj miasto ]</a>
</section>


