<!--The content below is only a placeholder and can be replaced.-->
<section class="corporation-list">
  <table>

    <tr>
      <th>id</th>
      <th>nazwa</th>
      <th>miasto</th>
      <th>kraj</th>
    </tr>

    <tr *ngFor="let corporation of corporations" (click)="onSelect(corporation)">
      <td>{{corporation.id}}</td>
      <td>{{corporation.name}}</td>
      <td>{{cities.find(getCityName(corporation.city)).name}}</td>
      <td><!-- {{countries.find(getCountryName(corporation.country)).name}} --></td>
    </tr>
  
  </table>
</section>


