<section class="container-fluid">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>nazwa</th>
        <th>miasto</th>
        <th>państwo</th>
        <th>CEO</th>
        <th>website</th>
        <th>email</th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let corporation of corporations" (click)="onClick(corporation)">
        <td>{{corporation.id}}</td>
        <td>{{corporation.name}}</td>
        <td>{{cities.find(getCity(corporation.city)).name}}</td>
        <td>{{countries.find(getCountry(cities.find(getCity(corporation.city)).country_id)).name}}</td>
        <td>{{corporation.ceo_name}}</td>
        <td>{{corporation.website}}</td>
        <td>{{corporation.email}}</td>
        <td><a routerLink="" class="link-delete">[ usuń ]</a></td>
      </tr>
    </tbody>
  </table>
  <a routerLink="/corporation-add" class="link-add">[ dodaj korporację ]</a>
</section>


