<section class="location-list">

    <table>
        <tr>
            <th>kraj</th>
            <th>miasto</th>
        </tr>
        
        <tr *ngFor="let country of countries">
            <td>
                <a href="" class="location">{{country.name}}</a> <button class="delete" *ngIf="countryHasCities(country.id)==false" class="delete">x</button>
            </td>
            <td>
                <ul class="location-list">
                    <ng-template ngFor let-city [ngForOf]="cities">
                        <li *ngIf="city.country_id == country.id">
                            <a href="" class="location">{{city.name}}</a> <button class="delete" *ngIf="cityHasCorporations(city.id)==false" class="delete">x</button>
                        </li>
                    </ng-template>
                    <li><a href="" class="small">[ dodaj miasto ]</a></li>
                </ul>
            </td>
        </tr>

        <tr>
            <td><p><a href="" class="small">[ dodaj państwo ]</a></p></td>
            <td></td>
        </tr>
    </table>



</section>