<section class="container-fluid">
    <table class="table table-hover">
      <thead>
        <tr>
            <th>państwo</th>
            <th>miasta</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let country of countries">
            <td>
                <a routerLink="../country-edit/{{country.id}}" class="location">{{country.name}}</a>
                <span class="button-delete" title="usuń państwo: {{country.name}}" *ngIf="countryHasCities(country.id)===false" (click)="deleteCountry(country); $event.stopPropagation()">&times;</span>
            </td>
            <td>
                <ng-template ngFor let-city [ngForOf]="cities">
                    <span class="city-link" *ngIf="city.country_id == country.id">
                        <a routerLink="../city-edit/{{city.id}}" class="location">{{city.name}}</a> 
                        <span class="button-delete" title="usuń miasto: {{city.name}}" *ngIf="cityHasCorporations(city.id)==false" (click)="deleteCity(city); $event.stopPropagation()">&times;</span>
                    </span>
                </ng-template>
                <a routerLink="../city-add/{{country.id}}" class="button-add">[ dodaj miasto ]</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a routerLink="../country-add" class="button-add">[ dodaj państwo ]</a>

</section>